<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info',user: @user %>
      <h2 class="mt-3">New book</h2>
      <%= render 'form', book: @book %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>Book detail</h2>
  		<table class='table'>
  		  <tr>
          <td><%= link_to user_path(@book_1.user) do %>
            <%= image_tag @user.get_profile_image, size:"100x100" %><br>
            <%= @book_1.user.name %>
            <% end %>
          </td>
          <td><%= link_to @book_1.title, @book_1 %></td>
          <td><%= @book_1.body %></td>
            <td>
               <% if @user == current_user %>
                <%= link_to 'Edit', edit_book_path(@book_1), class: "btn btn-sm btn-success" %></td>
               <% end %>
            <td>
              <% if @user == current_user %>
               <%= link_to 'Destroy', @book_1, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
              <% end %>
        </tr>
      </table>
    </div>
  </div>
</div>